.sidebar-content {
  width: 20%;
  height: 1000px;
  // padding-left: 20px;
  // margin-left: 10px;
  background-color: rgb(255, 145, 0);
  position: fixed;

  & i {
    font-size: 20px;
  }

  & .logo-admin {
    width: 250px;
    margin-top: 30px;
    cursor: pointer;
  }

  & .list-content {
    width: 250px;
    margin-right: 10px;
    margin-top: 40px;

    & .list-content-item {
      background-color: rgb(163, 107, 1);
      text-decoration: none;
      color: white;
    }
  }
}
